<h2>Video Dashboard</h2>

<app-video-list
  [videoList]="videoData | async"
  (selectVideo)="onVideoSelected($event)"
></app-video-list>

<app-video-player [video]="currentVideo"></app-video-player>

<app-stat-filters (filtersChanged)="updateFilter($event)"></app-stat-filters>

