:host {
  display: grid;

  height: 100vh;

  grid-template:
    "  header  header  header   "  4rem
    "  list    player  filters  "  auto
    /  2fr     3fr     2fr
  ;

  grid-gap: 0;
}

h2               { grid-area: header; }
app-video-list   { grid-area: list; }
app-video-player { grid-area: player; }
app-stat-filters { grid-area: filters; }



