body {
  font-family: sans-serif;
}

body,
app-video-dashboard {
  margin: 0;
  padding: 0;
}

app-video-dashboard {
  color: white;
  background-color: #ee6e73;
}

app-video-thumbnail {
  display: block;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

app-video-list,
app-video-player,
app-stat-filters {
  color: black;
  background-color: white;
  display: block;
  padding: 10px;
  border: 2px solid lightgrey;
}

.highlighted {
  background-color: yellow;
}

/*
app-root,
app-video-dashboard,
app-video-list,
app-video-player,
app-stat-filters {
  display: block;
  border: 3px solid grey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

*/
